@tailwind base;
@tailwind components;
@tailwind utilities;

/* "med-white": "#ffffff",
        "med-primary": "#03ACF2",
        "med-primary-light": "#B3E5FC",
        "med-primary-dark": "#00579b",
        "med-text": "#000000de",
        "med-text-light": "#0000008a",
        "med-green": "#4CAF50", */
:root {
  --med-white: #ffffff;
  --med-primary: #03acf2;
  --med-primary-light: #b3e5fc;
  --med-primary-dark: #00579b;
  --med-text: #000000de;
  --med-text-light: #0000008a;
  --med-green: #4caf50;
  --med-carousel: #b3e5fc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --med-white: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input:focus ~ .floating-label {
  color: var(--med-primary);
}

input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label {
  top: 0px;
  left: 2px;
  font-size: 11px;
  opacity: 1;
}

.inputText {
  font-size: 14px;
  width: 100%;
  height: 50px;
  padding-left: 4px;
  color: var(--med-text);
}

.floating-label {
  position: absolute;
  pointer-events: none;
  top: 18px;
  left: 0px;
  transition: 0.2s ease all;
  color: var(--med-primary);
}
.inputText {
  outline: none;
  border-bottom: 1px solid darkgray;
}

.inputText:focus {
  border-bottom: 1px solid var(--med-primary);
}
.floating-label {
  color: darkgray;
}

/* swiper css */
.testimonials-swiper .swiper-pagination .swiper-pagination-bullet {
  background: var(--med-primary) !important;
}

.testimonials-swiper .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--med-primary-dark) !important;
}
